body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1534px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:130px;
  width:640px;
  height:300px;
}
#u2122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.298039215686275);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:130px;
  width:640px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:130px;
  width:640px;
  height:300px;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.298039215686275);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:130px;
  width:640px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:200px;
  width:210px;
  height:25px;
}
#u2128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:200px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:240px;
  width:210px;
  height:25px;
}
#u2131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:240px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:280px;
  width:210px;
  height:25px;
}
#u2134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:280px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:320px;
  width:210px;
  height:25px;
}
#u2137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:320px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:360px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:360px;
  width:70px;
  height:25px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2142 {
  position:absolute;
  left:378px;
  top:390px;
}
#u2142_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:none;
}
#u2142_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2142_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u2142_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:25px;
  height:25px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:200px;
  width:210px;
  height:25px;
}
#u2147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:200px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:240px;
  width:210px;
  height:25px;
}
#u2150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:240px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:280px;
  width:210px;
  height:25px;
}
#u2153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:280px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:320px;
  width:210px;
  height:25px;
}
#u2156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:320px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:360px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:360px;
  width:70px;
  height:25px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2161 {
  position:absolute;
  left:1028px;
  top:390px;
}
#u2161_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:none;
}
#u2161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2161_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u2161_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:25px;
  height:25px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:440px;
  width:640px;
  height:300px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.298039215686275);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:440px;
  width:640px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:440px;
  width:640px;
  height:300px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.298039215686275);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:440px;
  width:640px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:510px;
  width:210px;
  height:25px;
}
#u2172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:510px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:550px;
  width:210px;
  height:25px;
}
#u2175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:550px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:590px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:590px;
  width:70px;
  height:25px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2180 {
  position:absolute;
  left:378px;
  top:620px;
}
#u2180_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:none;
}
#u2180_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2180_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u2180_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:25px;
  height:25px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:510px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:510px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:550px;
  width:210px;
  height:25px;
}
#u2188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:550px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:550px;
  width:20px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:550px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:590px;
  width:210px;
  height:25px;
}
#u2194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:590px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:630px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:630px;
  width:210px;
  height:25px;
}
#u2198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u2198_input:disabled {
  color:grayText;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:670px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:670px;
  width:210px;
  height:25px;
}
#u2201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u2201_input:disabled {
  color:grayText;
}
#u2202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:130px;
  width:200px;
  height:550px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:260px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:440px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:140px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:200px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:500px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:380px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:560px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:320px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:620px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:875px;
  width:860px;
  height:169px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.298039215686275);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:875px;
  width:860px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:856px;
  word-wrap:break-word;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.698039215686274);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:882px;
  width:70px;
  height:35px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.698039215686274);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:882px;
  width:70px;
  height:35px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:751px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:751px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u2219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:50px;
  width:150px;
  height:201px;
  overflow:hidden;
  visibility:hidden;
}
#u2221_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:201px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2221_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u2222_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:13px;
  width:15px;
  height:15px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:53px;
  width:15px;
  height:15px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:93px;
  width:15px;
  height:15px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:133px;
  width:15px;
  height:15px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:50px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u2232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u2233_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:50px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u2237_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2237_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u2238_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:50px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:398px;
  height:50px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
