body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:750px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:750px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:424px;
  width:407px;
  height:57px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:57px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:317px;
  width:407px;
  height:57px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:57px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:58px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:523px;
  width:405px;
  height:58px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
