body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1640 {
  position:absolute;
  left:228px;
  top:130px;
  visibility:hidden;
}
#u1640_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1290px;
  height:400px;
  background-image:none;
}
#u1640_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:400px;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.298039215686275);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1286px;
  word-wrap:break-word;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:110px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:70px;
  width:210px;
  height:25px;
}
#u1649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1649_input:disabled {
  color:grayText;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:110px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:110px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:110px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:110px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
  text-align:center;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:150px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
  text-align:center;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:1290px;
  height:150px;
  overflow:hidden;
}
#u1659_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1659_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1659_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1659_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:210px;
  height:25px;
}
#u1661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:210px;
  height:25px;
}
#u1664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:210px;
  height:25px;
}
#u1668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1668_input:disabled {
  color:grayText;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:70px;
  height:25px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1672 {
  position:absolute;
  left:150px;
  top:70px;
}
#u1672_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:none;
}
#u1672_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u1672_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u1672_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:25px;
  height:25px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1659_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:210px;
  height:25px;
}
#u1677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:210px;
  height:25px;
}
#u1680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:210px;
  height:25px;
}
#u1683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:40px;
  width:210px;
  height:25px;
}
#u1686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:40px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:80px;
  width:70px;
  height:25px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1691 {
  position:absolute;
  left:150px;
  top:110px;
}
#u1691_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:none;
}
#u1691_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u1691_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u1691_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:25px;
  height:25px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1659_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:210px;
  height:25px;
}
#u1696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:210px;
  height:25px;
}
#u1699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:210px;
  height:25px;
}
#u1702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:40px;
  width:210px;
  height:25px;
}
#u1705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:40px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u1709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:80px;
  width:70px;
  height:25px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1710 {
  position:absolute;
  left:150px;
  top:110px;
}
#u1710_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:none;
}
#u1710_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u1710_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u1710_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:25px;
  height:25px;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:350px;
  width:70px;
  height:35px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.698039215686274);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:350px;
  width:70px;
  height:35px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1640_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u1640_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:140px;
  width:1290px;
  height:60px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1286px;
  word-wrap:break-word;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:155px;
  width:30px;
  height:30px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:130px;
  width:200px;
  height:550px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:260px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:440px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:140px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:200px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:500px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:380px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:560px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:320px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:620px;
  width:180px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:751px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:751px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:50px;
  width:150px;
  height:201px;
  overflow:hidden;
  visibility:hidden;
}
#u1734_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:201px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1734_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u1735_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u1737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:13px;
  width:15px;
  height:15px;
}
#u1741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:53px;
  width:15px;
  height:15px;
}
#u1742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:93px;
  width:15px;
  height:15px;
}
#u1743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:133px;
  width:15px;
  height:15px;
}
#u1744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:50px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u1745_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1745_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u1746_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:50px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u1750_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1750_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u1751_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u1753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
}
#u1755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
