body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:751px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:751px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 104, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:50px;
  width:150px;
  height:201px;
  overflow:hidden;
  visibility:hidden;
}
#u157_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:201px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u157_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u158_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:13px;
  width:15px;
  height:15px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:53px;
  width:15px;
  height:15px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:93px;
  width:15px;
  height:15px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:133px;
  width:15px;
  height:15px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:50px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u168_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u169_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:50px;
  width:150px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u173_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u173_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u174_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:150px;
  width:320px;
  height:180px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:160px;
  width:30px;
  height:40px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:160px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:160px;
  width:92px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:215px;
  width:320px;
  height:115px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:280px;
  width:130px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:280px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:280px;
  width:46px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:230px;
  width:130px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:230px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:230px;
  width:46px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:370px;
  width:691px;
  height:360px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:52px;
  top:380px;
}
#u192_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:650px;
  height:345px;
  background-image:none;
}
#u192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:260px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:600px;
  height:260px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:8px;
  width:25px;
  height:25px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:0px;
  width:53px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:315px;
  width:32px;
  height:30px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:315px;
  width:44px;
  height:30px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:33px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:315px;
  width:3px;
  height:30px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:650px;
  height:345px;
  visibility:hidden;
  background-image:none;
}
#u192_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:260px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:600px;
  height:260px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:8px;
  width:25px;
  height:25px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:0px;
  width:53px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:315px;
  width:32px;
  height:30px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:315px;
  width:44px;
  height:30px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:33px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:315px;
  width:3px;
  height:30px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:150px;
  width:320px;
  height:180px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:160px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:215px;
  width:320px;
  height:115px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:160px;
  width:40px;
  height:40px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:230px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:230px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:280px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:280px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:150px;
  width:320px;
  height:180px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:160px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:215px;
  width:320px;
  height:115px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:160px;
  width:40px;
  height:40px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:230px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:230px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:280px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:280px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:370px;
  width:693px;
  height:170px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:560px;
  width:693px;
  height:170px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:380px;
  width:150px;
  height:150px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:370px;
  width:500px;
  height:170px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:560px;
  width:385px;
  height:170px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:170px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:560px;
  width:308px;
  height:170px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(126, 119, 144, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:16px;
  width:151px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:280px;
  width:320px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:285px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:285px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:285px;
  width:40px;
  height:40px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:215px;
  width:320px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:220px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:220px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:220px;
  width:40px;
  height:40px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:320px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:155px;
  width:94px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:155px;
  width:176px;
  height:40px;
  font-family:'Yu Gothic UI Bold', 'Yu Gothic UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:155px;
  width:40px;
  height:40px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
